/*------------- GENEREL --------------*/

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

body {
  margin: 0;
  background-color: white;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

img {
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  margin: 15px 0 0 0;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  margin-left: 50px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  margin: 5px 20px 0 20px;
}

header {
  position: fixed;
  background-image: url(billeder/rose2.jpg);
  background-size: cover;
  width: 100vw;
  height: 21.42vw;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5vw;
  padding: 0.5vw;
  text-align: center;
}

nav img {
  width: 40vw;
  position: fixed;
  top: 1vw;
  left: 30vw;
}

.nav1 {
  position: absolute;
  top: 5vw;
  left: 4vw;
}

.nav2 {
  position: absolute;
  top: 5vw;
  left: 15vw;
}

.nav3 {
  position: absolute;
  top: 5vw;
  right: 17.65vw;
}

.nav4 {
  position: absolute;
  top: 5vw;
  right: 5.3vw;
}

.txt {
  border-radius: 200px;
}

.hover:hover {
  transform: scale(1.1);
  opacity: 0.6;
}

#pil_frem {
  width: 42.24px;
  height: 189.44px;
  position: fixed;
  top: 22vw;
  right: 2vw;
}

#pil_tilbage {
  width: 42.24px;
  height: 189.44px;
  position: fixed;
  top: 22vw;
  left: 2vw;
}

#linje1 {
  width: 4vw;
  height: 0.5vw;
  background-color: #f5e5e5;
  position: absolute;
  top: 29vw;
  right: 6vw;
}

#linje2 {
  width: 4vw;
  height: 0.5vw;
  background-color: #f5e5e5;
  position: absolute;
  top: 29vw;
  right: 12vw;
}

#linje3 {
  width: 4vw;
  height: 0.5vw;
  background-color: #f5e5e5;
  position: absolute;
  top: 29vw;
  right: 18vw;
}

.hide {
  display: none;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt2 {
  border-radius: 200px;
}

.tekstbox {
  width: 350px;
  height: 390px;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
}




/*------------- FORSIDE / INDEX --------------*/

.hover2:hover {
  transform: scale(1.1);
}

#index {
  position: fixed;
  background-image: url(billeder/rose_forside.jpg);
  background-size: cover;
  width: 100vw;
  height: 100%;
}

#en {
  display: flex;
  width: 100vw;
  position: absolute;
  left: 0;
  justify-content: center;
}

#en a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5vw;
  padding: 0.5vw;
  text-align: center;
}

#portraet {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 265px;
}

#portraet img {
  border-radius: 200px;
}

#forside_txt1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 35px;
  right: 177.92px;
  background-color: #f5e5e5;
}

#forside_txt1 a {
  font-size: 1.4rem;
}

#forside_txt2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 100px;
  left: 177.92px;
  background-color: #f5e5e5;
}

#forside_txt2 a {
  font-size: 1.4rem;
}

#forside_txt3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  position: absolute;
  top: 205px;
  left: 220px;
  background-color: #f5e5e5;
}

#forside_txt3 a {
  font-size: 1.4rem;
}




/*------------- PORTFOLIE --------------*/

.container {
  display: flex;
  justify-content: center;
  width: 880px;
  height: 410px;
  position: absolute;
  top: 14vw;
}

#et {
  display: flex;
  width: 100vw;
  position: absolute;
  left: 0;
  justify-content: center;
}

#mm1 {
  width: 256px;
  height: 256px;
  position: absolute;
  top: 6.6px;
  left: 314px;
}

#mm1 img {
  border-radius: 200px;
}

#mm2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 179.2px;
  height: 179.2px;
  position: absolute;
  top: 212px;
  left: 416.5px;
  background-color: #efefef;
  border-radius: 200px;
}

#mm2 img {
  width: 80%;
}

#mm2 a {
  text-align: center;
}

#mm_tekst {
  width: 256px;
  height: 256px;
  position: absolute;
  top: 148px;
  left: 172.5px;
  background-color: #f5e5e5;
}

#mm_tekst2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 153.6px;
  height: 153.6px;
  position: absolute;
  top: 122px;
  right: 172.5px;
  background-color: #f5e5e5;
}

#mm_tekst2 h1 {
  margin-top: 0;
}

#mm_tekst2 a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

#mm_tekst3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 40px;
  right: 220px;
  background-color: #f5e5e5;
}

#mm_tekst_plus {
  width: 410px;
  height: 410px;
  position: absolute;
  top: 0px;
  left: 100px;
  background-color: #f5e5e5;
}

/*--------------*/

#to {
  width: 100vw;
  position: absolute;
  left: 100vw;
  display: flex;
  justify-content: center;
}

#uni1 {
  width: 256px;
  height: 256px;
  position: absolute;
  top: 128px;
  left: 50px;
}

#uni1 img {
  border-radius: 200px;
}

#uni2 {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 50px;
  right: 50px;
}

#uni2 img {
  border-radius: 200px;
}

#uni3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 153.6px;
  height: 153.6px;
  position: absolute;
  top: 26px;
  left: 165px;
  background-color: #f5e5e5;
  border-radius: 200px;
}

#uni3 img {
  width: 80%;
}

#uni3 h1 {
  margin-top: 0;
}

#uni_tekst {
  width: 281.6px;
  height: 281.6px;
  position: absolute;
  top: 68px;
  left: 267px;
  background-color: #f5e5e5;
}

#uni_tekst_plus {
  width: 410px;
  height: 410px;
  position: absolute;
  top: 0px;
  left: 200px;
  background-color: #f5e5e5;
}

/*--------------*/

#tre {
  width: 100vw;
  position: absolute;
  left: 200vw;
  display: flex;
  justify-content: center;
}

#nudeshooter {
  width: 256px;
  height: 256px;
  position: absolute;
  top: 134px;
  right: 158.4px;
}

#nudeshooter img {
  border-radius: 200px;
}

#nudepic {
  width: 179.2px;
  height: 179.2px;
  position: absolute;
  top: 19.6px;
  left: 415.2px;
}

#nudepic img {
  border-radius: 200px;
}

#nude_tekst {
  width: 320px;
  height: 320px;
  position: absolute;
  left: 158.4px;
  top: 70px;
  background-color: #f5e5e5;
}

#nude_tekst p {
  margin-left: 51.2px;
}

#nude_tekst_plus {
  width: 410px;
  height: 410px;
  position: absolute;
  left: 110px;
  top: 0px;
  background-color: #f5e5e5;
}

/*--------------*/

#fire {
  width: 100vw;
  position: absolute;
  left: 300vw;
  display: flex;
  justify-content: center;
}

#cup1 {
  width: 256px;
  height: 256px;
  position: absolute;
  top: 0;
  left: 81px;
}

#cup1 img {
  border-radius: 200px;
}

#dok {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5e5e5;
  width: 205px;
  height: 205px;
  position: absolute;
  top: 205px;
  left: 158px;
}

#dok a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

#cup2 {
  width: 281.6px;
  height: 281.6px;
  position: absolute;
  top: 77px;
  right: 4.3px;
}

#cup2 img {
  border-radius: 200px;
}

#cup3 {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 51px;
  left: 4.3px;
}

#cup3 img {
  border-radius: 200px;
}

#cup4 {
  width: 102.4px;
  height: 102.4px;
  position: absolute;
  top: 218px;
  left: 69px;
  border-radius: 200px;
}

#cup5 {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 282px;
  left: 337px;
  border-radius: 200px;
}

#cup6 {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 13px;
  left: 580px;
  border-radius: 200px;
}

#cup_tekst {
  width: 307.7px;
  height: 307.7px;
  position: absolute;
  top: 24px;
  left: 311.5px;
  background-color: #f5e5e5;
}

#cup_tekst_plus {
  width: 410px;
  height: 410px;
  position: absolute;
  top: 0px;
  left: 255px;
  background-color: #f5e5e5;
}

.mindre {
  background-color: #f5e5e5;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mindre img {
  width: 60%;
}

/*--------------*/

#fem {
  width: 100vw;
  position: absolute;
  left: 400vw;
  display: flex;
  justify-content: center;
}

#keaapp {
  width: 256px;
  height: 256px;
  position: absolute;
  top: 134px;
  right: 158.4px;
}

#keaapp img {
  border-radius: 200px;
}

#kea_tekst {
  width: 279.2px;
  height: 279.2px;
  position: absolute;
  top: 120px;
  left: 280px;
  background-color: #f5e5e5;
}

#sprint {
  width: 220px;
  height: 220px;
  position: absolute;
  left: 158.4px;
  top: 70px;
}

#sprint img {
  border-radius: 200px;
}


#kea_tekst_plus {
  width: 410px;
  height: 410px;
  position: absolute;
  left: 215px;
  top: 0px;
  background-color: #f5e5e5;
}

/*--------------*/

#seks {
  width: 100vw;
  position: absolute;
  left: 500vw;
  display: flex;
  justify-content: center;
}

#mug1 {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 177.92px;
}

#mug1 img {
  border-radius: 200px;
}

#mug_tekst {
  width: 256px;
  height: 256px;
  position: absolute;
  top: 25.6px;
  right: 177.92px;
  background-color: #f5e5e5;
}

#mug2 {
  width: 205px;
  height: 205px;
  position: absolute;
  top: 205px;
  left: 345px;
}

#mug2 img {
  border-radius: 200px;
}

#mug_tekst_plus {
  width: 410px;
  height: 410px;
  position: absolute;
  top: 0px;
  right: 100px;
  background-color: #f5e5e5;
}

#end {
  height: 1vw;
  width: 1vw;
  background-color: transparent;
  position: absolute;
  top: 26vw;
  left: 499vw;
}

/*--------------*/

#syv {
  display: flex;
  width: 100vw;
  position: absolute;
  left: 600vw;
  justify-content: center;
}

#data1 {
  width: 256px;
  height: 256px;
  position: absolute;
  top: 6.6px;
  left: 314px;
}

#data1 img {
  border-radius: 200px;
}

#data2 {
  width: 179.2px;
  height: 179.2px;
  position: absolute;
  top: 212px;
  left: 416.5px;
  filter: grayscale(1);
}

#data2 img {
  border-radius: 200px;
}

#data_tekst {
  width: 256px;
  height: 256px;
  position: absolute;
  top: 148px;
  left: 172.5px;
  background-color: #f5e5e5;
}

#data_tekst2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 153.6px;
  height: 153.6px;
  position: absolute;
  top: 122px;
  right: 172.5px;
  background-color: #f5e5e5;
}

#data_tekst2 a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

#data_tekst2 h1 {
  margin-top: 0;
}

#data_tekst_plus {
  width: 410px;
  height: 410px;
  position: absolute;
  top: 0px;
  left: 100px;
  background-color: #f5e5e5;
}

/*--------------*/

#otte {
  width: 100vw;
  position: absolute;
  left: 700vw;
  display: flex;
  justify-content: center;
}

#res1 {
  width: 256px;
  height: 256px;
  position: absolute;
  top: 128px;
  left: 50px;
}

#res1 img {
  border-radius: 200px;
}

#res_tekst {
  width: 320px;
  height: 320px;
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: #f5e5e5;
}

#res2 {
  width: 281.6px;
  height: 281.6px;
  position: absolute;
  top: 68px;
  left: 267px;
}

#res2 img {
  border-radius: 200px;
}

#res_tekst_plus {
  width: 410px;
  height: 410px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #f5e5e5;
}

/*--------------*/


#ki_pos {
  width: 100vw;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
}

#kontaktinfo img {
  width: 80%;
}

#kntkt {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  position: absolute;
  background-color: #f5e5e5;
  top: 30px;
  left: 290px;
}

#kntkt h1 {
  font-size: 2rem;
  margin-top: 120px;
}

#mobil {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  width: 200px;
  height: 200px;
  top: 130px;
  left: 50px;
  background-color: #f5e5e5;
}

#info1 {
  position: absolute;
  border-radius: 200px;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  background-color: #f5e5e5;
}

#info1 h1 {
  margin-top: 96px;
}

#mail {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  width: 200px;
  height: 200px;
  top: 130px;
  right: 50px;
  background-color: #f5e5e5;
}

#info2 {
  position: absolute;
  border-radius: 200px;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  background-color: #f5e5e5;
}

#info2 a {
  color: black;
  text-decoration: none;
  text-align: center;
}

#info2 h1 {
  margin-top: 96px;
  font-size: 0.9rem;
}

/*--------------*/

#om_mig {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
}

.container2 {
  display: flex;
  position: absolute;
  width: 900px;
  height: 600px;
  top: 10vw;
}

#om_mig_main {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 100px;
  left: 300px;
  border-radius: 200px;
  background-color: #f5e5e5;
}

#om_mig_main h1 {
  font-size: 3rem;
  margin-top: 100px;
}

.om_mini {
  width: 120px;
  height: 120px;
  background-color: #f5e5e5;
  position: absolute;
  border-radius: 200px;
}

.om_mini h1 {
  margin-top: 30px;
}

.om_plus {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 300px;
  top: 100px;
  border-radius: 200px;
  background-color: #f5e5e5;
}

.om_plus h1 {
  margin-top: 30px;
}

.om_plus p {
  margin: 20px 0 0 50px;
}

.x {
  width: 40px;
  height: 40px;
  background-image: url(billeder/kryds.svg);
  background-size: 80%;
  background-position: center;
  border-radius: 200px;
  background-color: white;
  position: absolute;
  top: 30px;
  right: 30px;
}

#om1 {
  top: 20px;
  left: 30px;
}

#om2 {
  top: 120px;
  left: 120px;
}

#om3 {
  top: 280px;
  left: 170px;
}

#om4 {
  top: 210px;
  left: 0;
}

#om5 {
  top: 380px;
  left: 280px;
}

#om6 {
  top: 360px;
  left: 40px;
}

#om7 {
  top: 0px;
  left: 260px;
}

#om8 {
  top: 350px;
  right: 30px;
}

#om9 {
  top: 25px;
  right: 230px;
}

#om10 {
  top: 140px;
  right: 150px;
}

#om11 {
  top: 200px;
  right: 8px;
}

#om12 {
  top: 280px;
  right: 170px;
}

#om13 {
  top: 370px;
  right: 270px;
}

#om14 {
  top: 30px;
  right: 30px;
}




@media only screen and (max-width: 900px) {

  body {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  header {
    background-image: url(billeder/rosemob.png);
    height: 38vw;
    position: fixed;
    z-index: 10;
  }

  .menubaggrund {
    height: 110vw;
  }

  #menuknap {
    position: absolute;
    width: 8vw;
    height: 8vw;
    top: 7vw;
    right: 4vw;
  }

  .menu {
    background-image: url(billeder/menu.svg);
  }

  .luk {
    background-image: url(billeder/kryds.svg);
  }

  .hide_mob {
    display: none;
  }

  #dropdown {
    position: absolute;
    width: 100vw;
    top: 10vw;
    left: 0;
  }

  nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 4vw;
    padding: 1vw;
    text-align: right;
  }

  nav img {
    width: 70vw;
    left: 9vw;
  }

  #index {
    z-index: -1;
  }

  #index nav img {
    width: 80vw;
    left: 10vw;
  }

  .nav1 {
    top: 12vw;
    right: 4vw;
  }

  .nav2 {
    top: 24vw;
    right: 4vw;
  }

  .nav3 {
    top: 36vw;
    right: 4vw;
  }

  .nav4 {
    top: 48vw;
    right: 4vw;
  }

  #pil_frem {
    display: none;
  }

  #pil_tilbage {
    display: none;
  }

  #linje1 {
    display: none;
  }

  #linje2 {
    display: none;
  }

  #linje3 {
    display: none;
  }

  .container {
    width: 320px;
    height: 640px;
    top: 0;
  }

  .txt2 {
    border-radius: 0;
  }

  p {
    margin-top: 20px;
  }

  .tekstbox {
    width: 300px;
    height: 620px;
  }


  /*------------- FORSIDE / INDEX --------------*/

  #en a {
    font-size: 4vw;
  }

  #portraet {
    width: 240px;
    height: 210px;
    position: absolute;
    top: 220px;
    left: 40px;
  }


  #forside_txt1 {
    width: 100px;
    height: 100px;
    top: 265px;
    right: 0px;
  }

  #forside_txt2 {
    width: 80px;
    height: 80px;
    top: 310px;
    left: 0;
  }

  #forside_txt3 {
    width: 90px;
    height: 90px;
    top: 370px;
    left: 15px;
  }





  /*------------- PORTFOLIE --------------*/


  #et {
    top: 0;
    left: 0;
  }

  #mm1 {
    width: 200px;
    height: 200px;
    top: 440px;
    left: 0px;
  }

  #mm2 {
    width: 130px;
    height: 130px;
    top: 160px;
    left: 200px;
  }

  #mm_tekst {
    width: 250px;
    height: 250px;
    top: 235px;
    left: 35px;
  }

  #mm_tekst2 {
    width: 160px;
    height: 160px;
    top: 440px;
    right: 0px;
  }

  #mm_tekst3 {
    width: 120px;
    height: 120px;
    top: 140px;
    right: 100px;
  }

  #mm_tekst_plus {
    width: 320px;
    height: 640px;
    top: 130px;
    left: 0;
    right: 0;
  }


  /*--------------*/

  #to {
    left: 0;
    top: 100vh;
  }

  #uni1 {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 400px;
    left: 160px;
  }

  #uni2 {
    width: 220px;
    height: 220px;
    position: absolute;
    top: 20px;
    left: 0;
  }

  #uni3 {
    width: 140px;
    height: 140px;
    top: 100px;
    left: 165px;
  }

  #uni_tekst {
    width: 250px;
    height: 250px;
    top: 195px;
    left: 35px;
  }

  #uni_tekst_plus {
    width: 320px;
    height: 640px;
    top: 0;
    left: 0;
    right: 0;
  }

  /*--------------*/

  #tre {
    left: 0;
    top: 200vh;
  }

  #nudeshooter {
    width: 200px;
    height: 200px;
    top: 400px;
    right: 0px;
  }

  #nudepic {
    width: 180px;
    height: 180px;
    top: 50px;
    left: 0px;
  }

  #nude_tekst {
    width: 250px;
    height: 250px;
    top: 195px;
    left: 35px;
  }

  #nude_tekst_plus {
    width: 320px;
    height: 640px;
    top: 0;
    left: 0;
    right: 0;
  }

  /*--------------*/

  #fire {
    left: 0;
    top: 300vh;
  }

  #cup1 {
    width: 180px;
    height: 180px;
    top: 420px;
    left: 0px;
  }

  #dok {
    width: 200px;
    height: 200px;
    top: 400px;
    left: 120px;
  }

  #dok a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
  }

  #cup2 {
    width: 220px;
    height: 220px;
    position: absolute;
    top: 30px;
    right: 0;
  }

  #cup3 {
    width: 128px;
    height: 128px;
    position: absolute;
    top: 50px;
    left: 0px;
  }

  #cup4 {
    width: 80px;
    height: 80px;
    top: 350px;
    left: 240px;
  }

  #cup5 {
    width: 90px;
    height: 90px;
    top: 150px;
    left: 40px;
  }

  #cup6 {
    width: 85px;
    height: 85px;
    top: 180px;
    left: 0;
  }

  #cup_tekst {
    width: 250px;
    height: 250px;
    top: 195px;
    left: 35px;
  }

  #cup_tekst_plus {
    width: 320px;
    height: 640px;
    top: 0;
    left: 0;
    right: 0;
  }

  /*--------------*/

  #fem {
    left: 0;
    top: 400vh;
  }

  #sprint {
    width: 180px;
    height: 180px;
    top: 190px;
    right: 0;
  }

  #kea_tekst {
    width: 250px;
    height: 250px;
    top: 265px;
    left: 35px;
  }

  #keaapp {
    width: 200px;
    height: 200px;
    left: 0;
    top: 120px;
  }

  #kea_tekst_plus {
    width: 320px;
    height: 640px;
    top: 0;
    left: 0;
    right: 0;
  }

  /*--------------*/

  #seks {
    left: 0;
    top: 500vh;
  }

  #mug1 {
    width: 200px;
    height: 200px;
    top: 50px;
    left: 0;
  }

  #mug_tekst {
    width: 250px;
    height: 250px;
    top: 195px;
    left: 35px;
  }

  #mug2 {
    width: 170px;
    height: 170px;
    top: 400px;
    left: 150px;
  }

  #mug_tekst_plus {
    width: 320px;
    height: 640px;
    top: 0;
    left: 0;
    right: 0;
  }

  /*--------------*/

  #syv {
    left: 0;
    top: 600vh;
  }

  #data1 {
    width: 200px;
    height: 200px;
    top: 400px;
    left: 0px;
  }

  #data2 {
    width: 150px;
    height: 150px;
    top: 100px;
    left: 170px;
  }

  #data_tekst {
    width: 250px;
    height: 250px;
    top: 195px;
    left: 35px;
  }

  #data_tekst2 {
    width: 150px;
    height: 150px;
    top: 400px;
    right: 0px;
  }

  #data_tekst_plus {
    width: 320px;
    height: 640px;
    top: 0;
    left: 0;
    right: 0;
  }

  /*--------------*/

  #otte {
    left: 0;
    top: 700vh;
  }

  #res1 {
    width: 200px;
    height: 200px;
    top: 400px;
    left: 0;
  }

  #res_tekst {
    width: 250px;
    height: 250px;
    top: 195px;
    left: 35px;
  }

  #res2 {
    width: 220px;
    height: 220px;
    top: 50px;
    left: 100px;
  }

  #res_tekst_plus {
    width: 320px;
    height: 640px;
    top: 0;
    left: 0;
    right: 0;
  }


  /*--------------*/

  #kntkt {
    top: 170px;
    left: 10px;
  }

  #mobil {
    width: 140px;
    height: 140px;
    top: 480px;
    left: 10px;
  }

  #info1 {
    width: 140px;
    height: 140px;
  }

  #info1 h1 {
    margin-top: 70px;
    font-size: 0.6rem;
  }

  #mail {
    width: 140px;
    height: 140px;
    top: 480px;
    right: 10px;
  }

  #info2 {
    width: 140px;
    height: 140px;
  }

  #info2 h1 {
    margin-top: 70px;
    font-size: 0.6rem;
  }


  .om_plus {
    width: 90vw;
    height: 90vw;
    position: fixed;
    left: 5vw;
    top: 60vw;
    ;
    border-radius: 200px;
    background-color: #f5e5e5;
  }

  .om_plus h1 {
    margin-top: 70px;
  }

  .om_plus p {
    margin-left: 70px;
  }

  .container2 {
    width: 320px;
    height: 1300px;
    ;
    top: 38vw;
  }

  #om_mig_main {
    top: 20px;
    left: 10px;
  }

  #om1 {
    top: 350px;
    left: 25px;
  }

  #om2 {
    top: 480px;
    left: 25px;
  }

  #om3 {
    top: 610px;
    left: 25px;
  }

  #om4 {
    top: 740px;
    left: 25px;
  }

  #om5 {
    top: 870px;
    left: 25px;
  }

  #om6 {
    top: 1000px;
    left: 25px;
  }

  #om7 {
    top: 1130px;
    left: 25px;
  }

  #om8 {
    top: 350px;
    right: 25px;
  }

  #om9 {
    top: 480px;
    right: 25px;
  }

  #om10 {
    top: 610px;
    right: 25px;
  }

  #om11 {
    top: 740px;
    right: 25px;
  }

  #om12 {
    top: 870px;
    right: 25px;
  }

  #om13 {
    top: 1000px;
    right: 25px;
  }

  #om14 {
    top: 1130px;
    right: 25px;
  }


}
